<link rel="stylesheet" href="css/styles.css">

<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('images/redbull-unsplash.jpg');"></div>
    <div class="contents order-2 order-md-1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <div class="mb-4">
                        <h3>¡Hasta pronto {{nombre}}!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<script>
    setTimeout(()=>{
        location.href = '/'
    }, 2000)
</script>